Package: com.yourcompany.wxredtweak
Name: wxRedTweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: tf-swufe
Author: tf-swufe
Section: Tweaks
